<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Security-Policy" th:content="${@environment.getProperty('content.security.policy')}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/dropdown-menu.js}"></script>
    <script type="text/javascript" th:src="@{/js/tailwind-3.0.14.js}"></script>
    <title>Movie database</title>
</head>