<header th:fragment="header" class="flex flex-col mb-8 space-y-8 md:space-y-0 md:flex-row md:justify-between md:items-end">
    <a th:href="@{/}" class="text-4xl text-center">Yet Another Movie Database</a>

    <nav class="md:relative text-center md:text-left w-full md:w-auto">
        <button id="nav-btn" class="border w-full p-2">
            <i style="font-size: 1.5em;" class="fas fa-user"></i>
            <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span>  
            <i style="font-size: 1.5em;" class="fas fa-chevron-down"></i>
        </button>
        <div class="md:absolute md:right-0 hidden border bg-black">
            <ul sec:authorize="isAnonymous()">
                <li><a th:href="@{/login}" class="block p-2 md:flex md:items-center"><i class="fas fa-sign-in-alt mr-1"></i>Login</a></li>
                <hr>
                <li><a th:href="@{/register}" class="block p-2 md:flex md:items-center"><i class="fas fa-user-plus mr-1"></i>Register</a></li>
            </ul>
            <ul sec:authorize="isAuthenticated()">
                <li><a th:href="@{/watchlist}" class="block p-2 md:flex md:items-center"><i class="fas fa-clock mr-1"></i>Watchlist</a></li>
                <hr>
                <li><a th:href="@{/account}" class="block p-2 md:flex md:items-center"><i class="fas fa-cog mr-1"></i>My&nbsp;account</a></li>
                <hr>
                <li><a th:href="@{/logout}" class="block p-2 md:flex md:items-center"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>