<form th:fragment="search-form" th:method="${method}" th:action="${action}" class="flex items-center space-x-4 my-4">
    <input type="search" placeholder="Search movies" th:name="${name}" th:value="${value}" class="text-black grow p-2">
    <button type="submit"><i style="font-size: 2em;" class="fas fa-search"></i></button>
</form>