<!-- Latest movie review -->
<div th:fragment="user-review" class="border p-2 break-long-words">
    <!-- Rating stars -->
    <div style="font-size: 1.25em;" class="flex flex-row space-x-1 my-2">
        <span th:each="rating: ${#numbers.sequence( 1, reviewDto.rating, 1)}" class="text-yellow-400 fas fa-star"></span>
        <span th:each="rating: ${#numbers.sequence( 1, 10-reviewDto.rating, 1)}" class="text-zinc-400 fas fa-star"></span>
    </div>

    <!-- Review title -->
    <h1 th:text="${reviewDto.title}" class="text-xl font-bold my-2"></h1>

    <!-- Review content with spoilers -->
    <div th:if="${reviewDto.containsSpoilers}" class="relative">
        <p class="font-sans text-justify whitespace-pre-line blur-sm select-none" th:text="${#strings.replace(reviewDto.content,'<br/>','')}"></p>
        <!-- Spoiler button -->
        <button style="background-color: rgba(0,0,0,0.6);"
                class="spoiler-btn absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-red-500 border p-1">
                SHOW&nbsp;SPOILERS
        </button>
    </div>
    <!-- Review content without spoilers -->
    <p th:unless="${reviewDto.containsSpoilers}" class="font-sans text-justify whitespace-pre-line" th:text="${#strings.replace(reviewDto.content,'<br/>','')}"></p>

    
    <!-- Review author and date -->
    <div class="mt-4">
        <i th:text="${reviewDto.author}"></i>
        <span>&bull;</span>
        <span th:text="${reviewDto.date}"></span>
    </div>
</div>