/*------------------------------------*\
  #PAGE DIVISION
\*------------------------------------*/

/**
 * Divide the page into two parts: main and footer
 */

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 150px;
    grid-template-areas: "main" "footer";
    background-color: #171717;
    color: white;
}

main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/*------------------------------------*\
  #SHORTEN TEXT
\*------------------------------------*/

/**
 * Truncate text with ellipsis when its over two lines long
 */
 
 .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/**
 * Put long words into a new line and break them if they are still too long
 */

.break-long-words {
    word-break: break-word;
}

/*------------------------------------*\
  #MOVIE CAST
\*------------------------------------*/

/**
 * Set the width of the cast container for various screen sizes
 */

.cast { width: calc(100vw - 32px); }
@media (min-width: 640px) { .cast { width: 608px } }
@media (min-width: 768px) { .cast { width: 736px } }
@media (min-width: 1024px) { .cast { width: 992px } }
@media (min-width: 1280px) { .cast { width: 1248px } }
@media (min-width: 1536px) { .cast { width: 1504px } }

/**
 * Display the scrollbar in the cast container
 */
.scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollbar::-webkit-scrollbar:horizontal {
    height: 1rem;
}

.scrollbar::-webkit-scrollbar:vertical {
    width: 1rem;
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 1);
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 1px solid #171717; /* should match background, can't be transparent */
    background-color: rgba(255, 255, 255, 0.1);
}

/*------------------------------------*\
  #FLOWBITE
\*------------------------------------*/

/**
 * Set the text color and button border of active tab
 */

[role="tab"].active {
    color: white !important;
    border-color: white !important;
}
