<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/flowbite-1.3.4.min.css}">
    <script type="text/javascript" th:src="@{/js/flowbite-1.3.4.js}"></script>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>

        <h1 class="text-3xl font-bold mb-4">Account settings</h1>

        <div class="mb-4">
            <ul class="flex flex-wrap" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                <li class="mr-2" role="presentation">
                    <button th:classappend="${activeTab=='password-tab'} ? active" th:aria-selected="${activeTab=='password-tab'} ? true : false" 
                    class="inline-block p-4 font-medium text-center text-gray-500 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-600" id="password-tab" data-tabs-target="#password" type="button" role="tab" aria-controls="password"><i class="fas fa-lock mr-2"></i>Change password</button>
                </li>
                <li class="mr-2" role="presentation">
                    <button th:classappend="${activeTab=='delete-tab'} ? active" th:aria-selected="${activeTab=='delete-tab'} ? true : false" 
                    class="inline-block p-4 font-medium text-center text-gray-500 border-b-2 border-transparent hover:text-gray-600 hover:border-gray-600" id="delete-tab" data-tabs-target="#delete" type="button" role="tab" aria-controls="delete"><i class="fas fa-trash-alt mr-2"></i>Delete account</button>
                </li>
            </ul>
        </div>
        <div id="myTabContent">
            <div th:classappend="${activeTab!='password-tab'} ? hidden" class="p-8 border-2" id="password" role="tabpanel" aria-labelledby="password-tab">
                <div class="lg:w-2/3 xl:w-1/2 lg:mx-auto">
                    <p class="mb-5">Change your account password.</p>
                    <form name="password_form" role="form" method="POST" th:object="${accountPasswordChangeFormDto}" th:action="@{/account/password}" class="flex flex-col">
                        <input class="p-2 my-2 text-black" type="password" th:field="*{currentPlainPassword}" placeholder="Old password" autofocus>
                        <span th:if="${#fields.hasErrors('currentPlainPassword')}" th:errors="*{currentPlainPassword}" class="text-red-500"></span>
                        <input class="p-2 my-2 text-black" type="password" th:field="*{newPlainPassword}" placeholder="New password">
                        <input class="p-2 my-2 text-black" type="password" th:field="*{newPlainPasswordRepeated}" placeholder="Repeat new password">
                        <span th:if="${#fields.hasErrors('newPlainPasswordRepeated')}" th:errors="*{newPlainPasswordRepeated}" class="text-red-500"></span>

                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="error : ${#fields.globalErrors()}" th:text="${error}" class="text-red-500"></p>
                        </div>
                        
                        <button class="border text-white p-2 my-4" type="submit">CHANGE PASSWORD</button>
                    </form>
                </div>
            </div>
            <div th:classappend="${activeTab!='delete-tab'} ? hidden" class="p-8 border-2" id="delete" role="tabpanel" aria-labelledby="delete-tab">
                <div class="lg:w-2/3 xl:w-1/2 lg:mx-auto">
                    <p class="text-red-500 mb-5">Permanently delete your account including watchlist and movie reviews. This operation can not be reversed. After successful account deletion you will be logged out.</p>
                    <p class="text-red-500 mb-5">Type in uppercase DELETE and click the DELETE ACCOUNT button to permanently delete your account.</p>
                    <form name="delete_form" role="form" method="POST" th:object="${accountDeleteFormDto}" th:action="@{/account/delete}" class="flex flex-col">
                        <input class="p-2 my-2 text-black" type="text" th:field="*{userConfirmation}" placeholder="Confirmation text" autofocus>
                        <span th:if="${#fields.hasErrors('userConfirmation')}" th:errors="*{userConfirmation}" class="text-red-500"></span>
                        <button class="border text-white p-2 my-4" type="submit">DELETE ACCOUNT</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>