<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>
        
        <h1 class="font-bold text-3xl mt-8 mb-4">Something went wrong!</h1>

        <div>
            <span class="text-xl">Go back </span>
            <a th:href="@{/}" class="text-green-500 border p-2">
                <span style="font-size: 1.5em;" class="fas fa-home align-middle"></span>
                <span class="font-medium">HOME</span>
            </a>
        </div>
        
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>