<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>
        <form th:replace="fragments/search-form.html :: search-form(method='get',action='/search',name='title')"></form>
        
        <h1 class="font-bold text-3xl mt-8 mb-4">Popular movies</h1>

        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-4">
            <div th:each="moviePosterDto: ${moviesDto}">
                <a th:href="@{/movie/{id}(id=${moviePosterDto.id})}">
                    <figure class="space-y-1">
                        <img th:if="${#strings.isEmpty(moviePosterDto.poster)}" th:src="@{/images/movie_poster_w342.png}" class="border-2">
                        <img th:unless="${#strings.isEmpty(moviePosterDto.poster)}" th:src="${moviePosterDto.poster}" th:alt="${moviePosterDto.title}" th:title="${moviePosterDto.title}" class="border-2">
                        <figcaption th:text="${moviePosterDto.title}" class="text-center"></figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>