<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <script type="text/javascript" th:src="@{/js/reveal-spoilers.js}"></script>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>

        <!-- Movie backdrop -->
        <div class="grid grid-rows-1 sm:grid-cols-12 gap-4 p-8"
             th:style="'background:url('+ ${movieDto.backdrop} +');
                        background-size:cover;box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);'"
        >
            <!-- Movie poster -->
            <div class="sm:col-span-4">
                <img th:if="${#strings.isEmpty(movieDto.poster)}" th:src="@{/images/movie_poster_w500.png}" class="border">
                <img th:unless="${#strings.isEmpty(movieDto.poster)}" th:src="${movieDto.poster}" th:alt="${movieDto.title}" th:title="${movieDto.title}" class="border">
            </div>

            <!-- Movie info -->
            <div class="sm:col-span-8">
                <div>
                    <!-- title -->
                    <h1 th:text="${movieDto.title}" class="text-3xl font-bold"></h1>
                    <!-- additional info-->
                    <div class="my-2">
                        <span th:text="${movieDto.releaseDate} ?: 'Unknown date'"></span>
                        <span>&bull;</span>
                        <span th:text="${stat.last} ? ${genre} : ${genre}+', '" th:each="genre, stat: ${movieDto.genres}"></span>
                        <span>&bull;</span>
                        <span th:text="${movieDto.runtime}"></span>
                    </div>
                    <!-- IMDb and Youtube link -->
                    <div class="space-x-2 my-2">
                        <a target="_blank" th:href="${movieDto.imdb}">
                            <span title="IMDb page" style="color:#F0C400;font-size: 4em;" class="fab fa-imdb"></span>
                        </a>
                        <a th:if="${movieDto.youtube}" target="_blank" th:href="${movieDto.youtube}">
                            <span title="Youtube trailer" style="color:#F41105;font-size: 4em;" class="fab fa-youtube"></span>
                        </a>
                    </div>
                    <!-- tagline and overview -->
                    <div th:text="${movieDto.tagline}" class="italic text-xl my-2"></div>
                    <h5 class="underline underline-offset-2">Overview</h5>
                    <p th:text="${#strings.defaultString(movieDto.plot,'No description')}" class="text-justify"></p>
                </div>

                <div sec:authorize="isAuthenticated()" class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2 mt-4">
                    <!-- Remove movie from watchlist -->
                    <form th:if="${onWatchlist}" method="POST" th:action="@{/movie/{id}/remove(id=${movieDto.id})}">
                        <input type="hidden" name="movieId" th:value="${movieDto.id}"/>
                        <button style="background-color: rgba(0,0,0,0.4);" class="text-green-500 hover:text-red-500 border p-2 w-full" type="submit" title="Remove from watchlist">
                            <span style="font-size: 2em;" class="fas fa-bookmark align-middle"></span>
                            <span class="font-medium">ON&nbsp;WATCHLIST</span>
                        </button>
                    </form>
        
                    <!-- Add movie to watchlist -->
                    <form th:unless="${onWatchlist}" method="POST" th:action="@{/movie/{id}/add(id=${movieDto.id})}">
                        <input type="hidden" name="movieId" th:value="${movieDto.id}"/>
                        <input type="hidden" name="movieTitle" th:value="${movieDto.title}"/>
                        <input type="hidden" name="posterPath" th:value="${movieDto.poster}"/>
                        <button style="background-color: rgba(0,0,0,0.4);" class="text-blue-400 border p-2 w-full" type="submit">
                            <span style="font-size: 2em;" class="far fa-bookmark align-middle"></span>
                            <span class="font-medium">ADD&nbsp;TO&nbsp;WATCHLIST</span>
                        </button>
                    </form>

                    <!-- Movie is already reviewed -->
                    <button th:if="${reviewed}" style="background-color: rgba(0,0,0,0.4);" class="text-green-500 border p-2">
                        <span style="font-size: 2em;" class="fas fa-book-open align-middle"></span>
                        <span class="font-medium">REVIEW WRITTEN</span>
                    </button>

                    <!-- Add movie review -->
                    <button th:unless="${reviewed}" style="background-color: rgba(0,0,0,0.4);" class="text-blue-400">
                        <a th:href="@{/movie/{id}/review(id=${movieDto.id})}" class="block h-full border p-2">
                            <span style="font-size: 2em;" class="fas fa-pencil-alt align-middle"></span>
                            <span class="font-medium">WRITE&nbsp;A&nbsp;REVIEW</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        
        
        <h1 class="font-bold text-2xl my-4">Cast</h1>
        <!-- Movie cast (mobile) -->
        <div class="sm:hidden">
            <table class="text-center scrollbar border flex overflow-y-scroll scroll-smooth pb-4" style="height:500px;">
                <tr class="bg-black">
                    <th></th>
                    <th>Actor</th>
                    <th>Character</th>
                </tr>
                <tr th:each="actor: ${movieDto.cast}" class="border-b">
                    <td>
                        <img th:if="${#strings.isEmpty(actor.photo)}" th:src="@{/images/actor_w185.png}"/>
                        <img th:unless="${#strings.isEmpty(actor.photo)}" th:src="${actor.photo}" th:alt="${actor.name}" th:title="${actor.name}"/>
                    </td>
                    <td th:text="${actor.name}" class="p-2 font-bold"></td>
                    <td th:text="${actor.character}" class="p-2"></td>
                </tr>
            </table>
        </div>
        <!-- Movie cast (non-mobile) -->
        <div class="hidden sm:block">
            <div class="scrollbar cast flex space-x-4 overflow-x-scroll scroll-smooth pb-4">
                <div th:each="actor: ${movieDto.cast}" class="border flex-none w-40">
                    <img th:if="${#strings.isEmpty(actor.photo)}" th:src="@{/images/actor_w185.png}"/>
                    <img th:unless="${#strings.isEmpty(actor.photo)}" th:src="${actor.photo}" th:alt="${actor.name}" th:title="${actor.name}"/>
                    <div class="p-2 text-center">
                        <b th:text="${actor.name}"></b>
                        <p th:text="${actor.character}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Movie reviews -->
        <div class="my-4">
            <span class="font-bold text-2xl">User reviews</span>
            <a th:if="${reviewCount}" th:href="@{/reviews/{id}(id=${movieDto.id})}"
               th:text="'view all'+${reviewCount>99 ? '(99+)' : '('+reviewCount+')'}" class="align-text-bottom underline underline-offset-2 text-blue-400 ml-1"></a>
        </div>
        <!-- Last movie review-->
        <div th:if="${latestReviewDto}" th:insert="fragments/user-review.html :: user-review(reviewDto=${latestReviewDto})"></div>
        <span th:unless="${latestReviewDto}" class="text-lg">No user reviews</span>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>