<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>

        <div class="p-8"
             th:style="'background:url('+ ${movieDto.backdrop} +');
                        background-size:cover;box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);'"
        >

            <div>
                <!-- title -->
                <h1 th:text="${movieDto.title}" class="text-3xl font-bold"></h1>
                <!-- additional info-->
                <div class="my-2">
                    <span th:text="${movieDto.releaseDate} ?: 'Unknown date'"></span>
                    <span>&bull;</span>
                    <span th:text="${stat.last} ? ${genre} : ${genre}+', '" th:each="genre, stat: ${movieDto.genres}"></span>
                    <span>&bull;</span>
                    <span th:text="${movieDto.runtime}"></span>
                </div>
            </div>

            <h1 class="text-2xl my-4">My review</h1>

            <form th:object="${reviewDto}">
                <div class="flex flex-col md:flex-row mb-4">
                    <label class="text-lg mr-2">Rating:</label>
                    <select th:field="*{rating}" class="text-black mr-2" disabled>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                        <option value="6">6 stars</option>
                        <option value="7">7 stars</option>
                        <option value="8">8 stars</option>
                        <option value="9">9 stars</option>
                        <option value="10">10 stars</option>
                    </select>
                </div>

                <div class="mb-4">
                    <input type="text" th:field="*{title}" placeholder="Review title" class="text-black p-1 w-full" disabled>
                </div>

                <div class="mb-4">
                    <textarea th:field="*{content}" placeholder="Review content" rows="15" style="resize:none;" class="text-black p-1 w-full" disabled></textarea>
                </div>

                <div class="mb-8">
                    <label>Contains spoilers?</label>
                    <div class="inline-flex flex-no-wrap items-center space-x-2">
                        <input type="radio" th:field="*{containsSpoilers}" value="true" disabled><label>Yes</label>
                        <input type="radio" th:field="*{containsSpoilers}" value="false" disabled><label>No</label>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>