<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>
        
        <div class="border-2 p-2 mt-16 lg:w-2/3 xl:w-1/2 lg:mx-auto text-center">
            <h1 class="text-3xl mb-2">Register</h1>
            <h2 class="text-lg mb-5">Fill out account details.</h2>

            <div class="grid place-content-center mb-5">
                <h2 class="text-lg">Creating an account provides additional features:</h2>
                <ul class="text-left">
                    <li>&bull; Adding movies to a private watchlist</li>
                    <li>&bull; Writing public movie reviews</li>
                </ul>
            </div>

            <form name="register_form" role="form" th:object="${registerFormDto}" method="POST" th:action="@{/register}" class="flex flex-col">
                <input class="p-2 my-2 mx-4 text-black" th:field="*{username}" type="text" placeholder="Username" autofocus>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-red-500"></div>
                <input class="p-2 my-2 mx-4 text-black" th:field="*{plainPassword}" type="password" placeholder="Password">
                <input class="p-2 my-2 mx-4 text-black" th:field="*{plainPasswordRepeated}" type="password" placeholder="Repeat password">
                <div th:if="${#fields.hasErrors('plainPassword')}" th:errors="*{plainPassword}" class="text-red-500"></div>

                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="error : ${#fields.globalErrors()}" th:text="${error}" class="text-red-500"></p>
                </div>

                <button class="border text-white p-2 m-4" type="submit">REGISTER</button>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>