<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <script type="text/javascript" th:src="@{/js/reveal-spoilers.js}"></script>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>

        <h1 th:text="${movieDto.title}" class="text-3xl font-bold mb-4"></h1>
        <h1 class="text-2xl mb-4">Reviews</h1>
        <span th:if="${reviewsDto.empty}">No reviews</span>

        <div th:each="reviewDto: ${reviewsDto}" th:insert="fragments/user-review.html :: user-review(reviewDto=${reviewDto})" class="mb-8"></div>

    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>