<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <script type="text/javascript" th:src="@{/js/show-more-results.js}"></script>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>
        <form th:replace="fragments/search-form.html :: search-form(method='get',action='/search',name='title',value=${query})"></form>

        <h1 th:text="${'Search results for ' + '&quot;' + query + '&quot;'}" class="text-3xl mt-8 mb-4 break-long-words"></h1>
        <span th:if="${moviesDto.empty}" class="text-xl">No results</span>

        <div id="search-result-container" class="space-y-6">
            <div th:each="movieSearchResultDto: ${moviesDto}">
                <a th:href="@{/movie/{id}(id=${movieSearchResultDto.id})}" class="flex border-2">
                    <div class="flex-none">
                        <img th:if="${movieSearchResultDto.poster}" th:src="${movieSearchResultDto.poster}">
                        <img th:unless="${movieSearchResultDto.poster}" th:src="@{/images/movie_poster_w92.png}">
                    </div>
                    <div class="px-4 py-2">
                        <p th:text="${movieSearchResultDto.title}" th:href="@{/movie/{id}(id=${movieSearchResultDto.id})}" class="font-bold"></p>
                        <p th:text="${#strings.defaultString(movieSearchResultDto.plot,'No description')}" class="mt-2 text-justify line-clamp-2"></p>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>