<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" th:src="@{/js/sort-watchlist.js}"></script>
    <script type="text/javascript" th:src="@{/js/remove-watchlisted-movie.js}"></script>
</head>
<body class="container mx-auto px-4 pt-4">
    <main>
        <header th:replace="fragments/header.html :: header"></header>

        <div class="flex flex-col lg:flex-row lg:items-baseline lg:justify-between">
            <h1 class="font-bold text-3xl mb-4">My watchlist</h1>
            <div th:unless="${watchlistMoviesDto.empty}" class="text-black mb-8 lg:mb-0">
                <select id="sort-select" name="sort" class="w-full p-1">
                    <option value="desc">Most recent addition</option>
                    <option value="az">Title: A - Z</option>
                    <option value="za">Title: Z - A</option>
                </select>
            </div>
        </div>
        
        <span th:if="${watchlistMoviesDto.empty}">No movies on watchlist</span>

        <div th:unless="${watchlistMoviesDto.empty}" class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6 gap-4">
            <div th:each="watchlistMovieDto: ${watchlistMoviesDto}" class="text-right" data-th-data-id="${watchlistMovieDto.movieId}" data-th-data-title="${watchlistMovieDto.title}" data-th-data-date="${watchlistMovieDto.added}">
                <a th:href="@{/movie/{id}(id=${watchlistMovieDto.movieId})}">
                    <img th:src="${watchlistMovieDto.poster}" th:title="${watchlistMovieDto.title}" th:alt="${watchlistMovieDto.title}" class="border-2">
                </a>
                <button class="p-1 remove-btn">Remove</button>
            </div>
        </div>

    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>